<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKcnG_LHjBg9QmPAnDRvhkQcGcrAmwivE</string>
	<key>GCM_SENDER_ID</key>
	<string>418688149116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loba4.multilogin2</string>
	<key>PROJECT_ID</key>
	<string>multilogin2-d03cd</string>
	<key>STORAGE_BUCKET</key>
	<string>multilogin2-d03cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418688149116:ios:fe4df88af0cbc837484bf9</string>
</dict>
</plist>